






/* Dashboard ************************************************************/

/* Navbar (Header) */


        /* Class*/
.navbar{
    background-color: #000000;
}

.neo{
    font-size: 2.5rem;
    font-weight: 450;
    color: #ffffff;
}

.store{
    font-size: 2.5rem;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    color: #ff0000;
}

.navlink{
    color: #ffffff;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.bgCart{
    background-color: white;
}


        /* Id */

#topSearch{
    position: relative;
}
#topSearchInput{
    border-radius: 5px;
    padding-left: 28px;
    color: black;
    height: 3rem;

}
#searchicon{
    position: absolute;
    margin-top: 12px;
    margin-left: 5px;
}



#dropdown-basic{
    background-color: white;
}








    /* Footer */
    
        /* Class */

.dashFooter{
    background-color: #000000;
    color: white;
    text-align: center;
}
.fbasis{
    flex-basis: 35%;
}
.subBtn{
    border-radius: 6px;
    width: 7rem;
}
main{
    height: 300px;
}