body{
    padding-top: 60px;
}
/* #outer{
    height: 800px;
    width: 1400px;
    position: relative;
} */
.inner{
padding:0px 30px 0px 30px;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 0%;
}
p.smalloverflow{
    font-size: 15px;
    background-color: gray;
    width: 200px;
    height: 100px;
    border: 2px blue;
    resize: both;
    overflow: auto;
}

table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
/* table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
}
th{
    border: 1px solid black;
    height: 30px;
}
td{
    border: 1px solid black;
} */

#mydiv{
    width: 300px;
    height: 100px;
    background-color: chartreuse;
    border: 1px solid black;
    transition: width 2s, height 4s;
    animation-name: test;
    animation-duration: 5s;
}

@keyframes test{
    from{background-color: black;}
    to{
        background-color: blanchedalmond;
    }
}

#mydiv:hover{
    width: 400px;
    height:500px
}

@media (max-width:992px){
    body{
        padding-top: 150px;
    }
    #video{
        height: 220px;
        width: 320px;
    }
    input{
        width: 100%;
    }
    .crr{
        height: 220px;
        width: 320px;
    }
}










