<script src="https://kit.fontawesome.com/972af9918a.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>






<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1 style="padding: 80px 0px 0px 190px;">About Us</h1>
            <h3 style="padding: 20px 0px 0px 190px;">It is long established fact that readers will be distracted
            </h3>
            <p style="padding: 20px 0px 0px 190px;"><strong>The point of using Lorem Ipsum is </strong>that it has
                more or less normal button of letters,
                as opposed to using 'Content here, content here', making look like readable English</p>
            <p style="padding: 0px 0px 0px 190px;"><strong>There are many variation of passage of</strong> Lorem
                Ipsum available , but the majority have
                suffered alteration in some form</p>

            <ul style="list-style-image: url(../../assests/images/arrow1.png);padding: 20px 0px 0px 215px;">
                <li>2000 years old, Richard McClint</li>
                <li>Discovered the undoubtable source</li>
                <li>Lorem Ipsum dolor sit amet</li>
            </ul>

        </div>
        <div class="col-6" style="padding-top: 160px;">
            <img class="img-thumbnail" src="../../assests/images/our_team_zoe.jpg" style="width: 40%;">
        </div>
    </div>
</div>