<script src="https://kit.fontawesome.com/972af9918a.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <div class="container-fluid">
        <div class="row">
            <div class="col" style="padding-left:100px;">
                <div class="card" style="width: 20rem;">
                    <img src="../../assests/images/user1.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">What is lorem ipsum</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the end typesetting Lorem Ipsum has
                            been the industry standard dummy text ever since the 1500s when an unknown printer took a
                            gallery of type and scrambled </p>
                        <p class="card-text">it to make a type specimen book It hassurvived not nly five centuries but
                            also the leap into we electronic typesetting ,remaining essentially unchanged</p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="../../assests/images/user2.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">What is lorem ipsum</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the end typesetting Lorem Ipsum has
                            been the industry standard dummy text ever since the 1500s when an unknown printer took a
                            gallery of type and scrambled </p>
                        <p class="card-text">it to make a type specimen book It hassurvived not nly five centuries but
                            also the leap into we electronic typesetting ,remaining essentially unchanged</p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="../../assests/images/user3.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">What is lorem ipsum</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the end typesetting Lorem Ipsum has
                            been the industry standard dummy text ever since the 1500s when an unknown printer took a
                            gallery of type and scrambled </p>
                        <p class="card-text">it to make a type specimen book It hassurvived not nly five centuries but
                            also the leap into we electronic typesetting ,remaining essentially unchanged</p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
