<script src="https://kit.fontawesome.com/972af9918a.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="./content2.css">

<body>
    

<div id="con2" style="background-image: url(../../assests/images/hbg2.png);" class="container-fluid">
    <div class="row">
        <div class="col-6" style="padding:180px 0px 0px 350px">
            <div class="square">
                <div class="center">
                    <i class="fas fa-play fa-2x" style="color:white;"></i>
                </div>
            </div>
        </div>
        <div class="col-6" style="padding:200px;font-size:2em;font-family:Georgia, serif;">
            Loren ipsum dolor sit posuer long dolar sit amet it has not survived on?
            <div>
            <button  type="button" class="btn" style="background-color: lightgreen;">Contact Us Now!</button>
        </div>
        </div>
    </div>
</div>

</body>