    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<nav style="padding: 0;" class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand"><img style="padding-left: 240px;" src="../../assests/images/logo.png"></span>

    <div class="container">
        <div class="row">
            <div class="col"><span class="d-flex flex-row-reverse"
                    style="font-family: Brush Script MT, Brush Script Std, cursive;font-size: 1.5em;color: grey;right: 0;">Call
                    us Today! (02)90178413 </span></div>
            <div class="col">
                <form class="form-inline">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="w-100"></div>
            <div class="col-11">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav" style="font-family: Georgia, serif;color: grey;">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dating Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Who we help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Why vitals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col"></div>

        </div>
    </div>
</nav>