
#list{
    display: flex;
    justify-content: flex-end;
}

#addfeed{
    background-color: #252d7d;
    color: white;
}

#logout{
    background-color: red;
    color: white;
}

#feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:400){
    /* #dashimg{
        height: 100px;
    } */
}