<script src="https://kit.fontawesome.com/972af9918a.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div style="background-image: url(../../assests/images/hbg6.png);" class="container-fluid">
    <div class="container text-center" style="font-size: 2rem;font-family: Apple Chancery, cursive;color:black;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem ipsum has been the industry
        standard ever since 1500s when an unknown printer took a gallery of type and scrambled it to make a type
        specimen book
    </div>
    <div class="row">
        <div class="col-6">
            <div class="d-flex flex-row-reverse" style="padding-top: 10px;padding-bottom: 40px;">
                <div class="card" style="width: 19rem;">
                    <img style="padding: 10px 100px 10px 100px;" src="../../assests/images/icon2.png"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">What is lorem ipsum</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the end typesetting Lorem Ipsum has
                            been the industry standard dummy text ever since the 1500s when an unknown printer took a
                            gallery of type and scrambled </p>
                        <p class="card-text">it to make a type specimen book It hassurvived not nly five centuries but
                            also the leap into we electronic typesetting ,remaining essentially unchanged</p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6" style="padding-top:10px">
            <div class="card" style="width: 20rem;">
                <img style="padding: 10px 100px 10px 100px;" src="../../assests/images/icon3.png" class="card-img-top">
                <div class="card-body" style="padding-bottom: 28px;">
                    <h5 class="card-title">Where dose it come</h5>
                    <p class="card-text">It has survived not only five centuries , but also the help into eletronic
                        typesetting, remaining essentially unchanged popularised</p>
                    <p class="card-text">Contrary to popular belief, Learn Ipsum is not simply random text. It has
                        lroots in a piece of classical Latin literature from 45 BC, making it over 2000 years old
                        number .Is this Richard McClintock?</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>