<script src="https://kit.fontawesome.com/972af9918a.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="./content4.css">


<img src="../../assests/images/hbg4.png">
<!-- 
<div style="background-image: url(../../assests/images/hbg5.png);" class="container-fluid">
    <div class="row">
        <div class="col text-center" style="padding-top: 200px;">
            <h1>How Vital Works</h1>
            <h3>Step Hop or Skip your way to Happiness</h3>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding: 50px 200px 0px 200px;">
            <div class="container">
                <div class="circle">1</div>
                <div class="circle">2</div>
                <div class="circle">3</div>
                <div class="circle">4</div>
                <div class="circle">5</div>
                <div class="circle">6</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <div style="padding: 80px 200px 80px 200px;">
                <button type="button" class="btn" style="background-color: white;border: yellowgreen solid 3px;">Pop into our office and meet us face to face</button>
            </div>
        </div>
    </div>

</div> -->