    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div style="height: 120px;background-color: lightgray;">
        <div class="text-center py-3">
            <img src="../assests/images/icon5.png">
            <span style="color: honeydew; font-size:25px;">
                Loren Ipsum is simply dummy text of the printing ind
            </span>
            <button type="button" class="btn btn-outline-dark"
                style="background: grey;height: 50px;width: 170px;border: white;">Download Now</button>
    
        </div>
    </div>

