#blogsection{
    padding-top: 5%;
    padding-bottom: 10%;
}
.blogcontain{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
@media (max-width:800px){
    .blogcontain{
        flex-direction: column;
    }
}