
/* Big Screen View */

#cardsection{
        padding-bottom: 0%;
        background-image: url(../../assests/images/hbg2.png);
        background-repeat: no-repeat;

}
.cardcontain{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
}
/* Card description styles */
#carddescriptionfont{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
/* Carausel */
#clientsay{
    font-size:65px;
}
#carauselpara{
    font-size: 22px;
}

#manageicon{
    padding: 30px 150px 0 150px;
}
@media (max-width:800px){
    #clientsay{
        font-size: 35px;
    }
    #carauselpara{
        font-size: 18px;
    }
    .rc{
        height: 150px;
    }

}





/* Read more button customization */

#cardbody{
    width: 400px;
    margin: 10px;
}

/* Media quries for mobile view */

@media (max-width:800px){
    #cardsection{
        background-image: none;
    }
    .cardcontain{
        flex-direction: column;
        margin: 0;
    }
    #cardbody{
          width: 100%;
          margin: 0;
    }
    #getstartbtn{
        width: 100px;
    }
    #carddescriptionfont{
        font-size: 1rem;
    }
    #imagesection{
        height: 250px;
    }   
}