/* Big Screen view */

/* Footer Background */
.footsection{
    background-color: #333333;
}

.footcontain{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}
#footbtn{
    background-color: #95c730;
    color: #ebf7c6;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
    width: 250px;
}
/* shortcut text styles */
#shortcutfont{
    margin-left: 20%;
    text-align: center;
}
#appointmentbtn{
    margin-left: 2%;
}
/* Contact us section */
#footcontactus{
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 4%;
}
/* Recent post section */
#footrecentpost{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 2%;
}
/* Recent Tweet Section */
#footrecenttweet{
    padding-top: 3%;
    padding-left: 6%;
}


/* Media Queries for mobile view */
@media (max-width:800px){
    .footcontain{
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    #shortcutfont{
        padding-top: 20px;
    }
    #footbtn{
        background-color: #95c730;
        color: #ebf7c6;
        height: 40px;
        width: 250px;
    }
    #appointmentbtn{
        margin: 0;
        padding-bottom: 20px;
    }
}