.callus{
    font-size: 1.5em;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: grey;
}
.navbar{
    
    margin-left: 16%;
    margin-right: 16%;
}
.navbar-nav{
    font-family: Georgia, serif;
    color: gray;
}
.sr-only{
    color: limegreen !important;
}
a:hover{
    color: limegreen !important;
}

@media (max-width:1000px){
.navbar{
    margin: 0;

}
#header{
    padding: 0;
}
#navbrand{
    margin: 0;
}
#search{
    padding: 0%;
}
}