
/* Big screen view */

#header{
    margin-left: 0%;
    margin-right: 0%;
}
.headercontain{
    display: flex;
}
#menu{
    flex-direction: column;
}


.callus{
    font-size: 1.5em;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: grey;
}
.navbar{
    
    margin-left: 16%;
    margin-right: 16%;
}
.navbar-nav{
    font-family: Georgia, serif;
    color: gray;
}
.sr-only{
    color: #95c730 !important;
}
a:hover{
    color: #95c730 !important;
}

/* Media queries for mobile view */

@media (max-width:1000px){
.navbar{
    margin: 0;

}
#header{
    padding: 0;
}
#navbrand{
    width: 90%;
    margin: 0;
}
#search{
    padding: 0%;
}
#headerresponse{
    width: 90%;
    flex-direction: column;
}
#searchiconn{
    padding-top: 20px;
    padding-right: 10px;
}
}