/* Gray bar Backgroud parameters */
#heightandcolor{
    width: 100%;
    height: 100px;
    background-color: #a6a79f;
}
/* font styles */
#font{
    color: #f6f8f5;
    font-family: Georgia, serif;
    font-size: 30px;
}

/* download button styles */
#download{
    background-color: #70716b;
    border-radius: 4px;
    height: 50px;
    width: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f6f8f5;
    border: 2px solid #f6f8f5;;
}
/* mobile view of gray bar */
@media (max-width:800px){
#heightandcolor{
    height: 250px;
    width: 100%;
}
}