<script src="https://kit.fontawesome.com/972af9918a.js" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div>
    <footer class="page-footer" style="background-color:dimgrey">

        <div style="padding: 50px 100px 50px 100px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../../assests/images/foot_logo.png">
                    </div>
                    <div class="col" style="font-family: Times, Times New Roman, serif;font-size: 2em;">
                        Shortcut your search tp happiness right now live your life without regrets and take action
                        today!
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h1 style="font-family: Brush Script MT, Brush Script Std, cursive;">Call us Today! (02)9017 8413</h1>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success">Book an appointment</button>
                        <button type="button" class="btn btn-success">Contact a consultant</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>Contact Info</h3>

                        <ul style="list-style-type: none;">
                            <li>
                                <strong>4/220 George Saint Sydney NSW 2000</strong>
                            </li>
                            <li>
                                Phone: (02)9017 8413
                            </li>
                            <li>
                                Email: info@syd.vitalpartners.com.au
                            </li>
                            <li>
                                <strong>Canberra City Act 2600</strong>
                            </li>
                            <li>
                                Phone: (02)9017 8426
                            </li>
                            <li>
                                Email: can@syd.vitalpartners.com.au
                            </li>
                        </ul>

                    </div>
                    <div class="col">
                        <h3>Recent Post</h3>

                        <ul style="list-style-image: url(../../assests/images/small_triangle.png);">
                            <li>
                                How to recover after a bad date
                            </li>
                            <li>
                                Review | Vital Partners Review
                            </li>
                            <li>
                                Review | Vital Partners Review
                            </li>
                            <li>
                                Review | Vital Partners Drake and Julie
                            </li>
                            <li>
                                7 Rules for a Happy Relationship | Vital partners dating sydney
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Recent Tweets</h3>

                        <ul style="list-style-image: url(../../assests/images/icon9.png);">
                            <li>
                                Are you being vulnarable to find love via offine dating agency Sydney Canberra Vital Partners
                            </li>
                            <li>
                                Ending up a relationtship read why you should not break up by text -offline dation agency Sydney Canberra Vital Partners 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>









        <div style="background-color:black;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0" style="color: grey;">VitalPartners.com.au</h6>
                    </div>
                    <!-- Grid column -->
                    <div class="col" style="color: grey;">
                        Contact | Terms of use | Privacy Policy | Disclaimer
                    </div>
                    <!-- Grid column -->
                    
                    <div class="col text-center text-md-right">
                        <span style="color: grey;">FOLLOW US</span>
                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

    </footer>

</div>